# /root/pi-tailscale-role/pi-tailscale.env

PI_TS_ROLE_DIR="/root/pi-tailscale-role"

PI_TS_HOSTNAME="tailscale-hostname"
PI_TS_AUTH_KEY=""
PI_TS_EXTRA_UP_ARGS=""

PI_TS_ADVERTISE_EXIT_NODE="true"
PI_TS_ADVERTISE_DYNAMIC_LAN="true"
PI_TS_STATIC_ROUTES=""

PI_TS_ACCEPT_DNS="false"
PI_TS_ACCEPT_ROUTES="false"
PI_TS_APPLY_PERFORMANCE="true"

PI_TS_RESTART_ON_HEALTH_FAIL="true"
PI_TS_REBOOT_ON_REPEATED_FAILURE="false"
PI_TS_MAX_FAILURES_BEFORE_REBOOT="8"

# Empty disables email alerts.
PI_TS_EMAIL_COMMAND="/root/utils/email.sh"
PI_TS_EMAIL_AFTER_FAILURES="3"
PI_TS_EMAIL_COOLDOWN_SECONDS="3600"

# Empty disables reauth.
PI_TS_REAUTH_COMMAND="/root/pi-tailscale-role/addons/tailscale-nextcloud-reauth.sh"
PI_TS_REAUTH_AFTER_FAILURES="5"
PI_TS_REAUTH_COOLDOWN_SECONDS="900"

# Nextcloud reauth addon.
NC_WEBDAV_URL=""
NC_USER=""
NC_APP_PASSWORD=""
